:root {
    --mon-bg:rgb(80, 25, 94);
}

.btn-fix-bas {
    position: fixed;
    left: 50px;
    bottom: 45px;
    z-index: 1030;
}

.CodeMirror {
    height: 300px;
    min-height: 300px;
    border: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px;
    font: inherit;
    z-index: 1;
}


.bg-perso { background-color: var(--mon-bg); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }